*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.page{
    height: 100vh;
    width: 100%;
    background-color: pink;
    padding-top: 80px;
}
.page>h1{
    text-align: center;
    color: rgb(160, 9, 9);
}
.page>.box{
    margin-top: 40px;
    margin-left: 340px;
    height: 350px;
    width: 700px;
    border-radius: 5px;
    border: 5px solid rgb(218, 53, 81);
    background-color:pink ;
}
.page>.box>.bar{
    height: 50px;
    border-bottom: 5px solid rgb(218, 53, 81);
}
.page>.box>.bar>.item{
    height: 35px;
    width: 60%;
    border: none;
    margin: 5px;
    border-radius: 10px;
    padding-left: 100px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
}
.page>.box>.bar>input::placeholder{
    font-size: 18px;
    font-weight: 900;
}
.page>.box>.bar>input:focus{
    outline: none;
}
.page>.box>.bar>i{
    margin-left:15px;
    cursor: pointer;
}
.page>.box>.bar>.cal{
    height: 30px;
    border: none;
    padding: 10px;
    margin-left: 15px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}